@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Inter', system-ui, sans-serif;
    background-color: #000000;
    color: #FFFFFF;
  }
  
  /* Favicon redondo */
  link[rel="icon"] {
    border-radius: 50%;
    overflow: hidden;
  }
}

@layer components {
  .btn-primary {
    @apply bg-mahr-yellow text-mahr-black font-semibold py-3 px-6 rounded-lg hover:bg-yellow-400 transition-colors duration-300;
  }
  
  .btn-secondary {
    @apply bg-transparent border-2 border-mahr-blue text-mahr-blue font-semibold py-3 px-6 rounded-lg hover:bg-mahr-blue hover:text-mahr-white transition-colors duration-300;
  }
  
  .section-padding {
    @apply py-16 px-4 sm:px-6 lg:px-8;
  }
  
  .container-custom {
    @apply max-w-7xl mx-auto;
  }
} 